[user]
	email = 
	name = 

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[credential]
	helper = cache --timeout=3600
[gihub]
	user = therealdarkside
	token = 4abdd706b04ee5683bb8dd36164cdda28df1fcdb
